.editSection {
  background-color: #222850;
  position: fixed;
  top: 50px;
  width: 450px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 2px 2px 15px 2px rgba(16, 19, 49, 0.6);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
select {
  background-color: #0f122b;
  color: white;
  padding: 2px;
  border: none;
  border-radius: 5px;
}
select:nth-child(2),
select:nth-child(3) {
  margin-left: 5px;
}

input {
  margin-top: 10px;
  padding: 6px 10px;
  width: 350px;
  border-radius: 5px;
  border: none;
  background-color: #0f122b;
  color: white;
}

.button {
  width: 350px !important;
  margin-top: 10px;
  height: 40px;
}
.carat {
  width: 350px;
  padding: 5px;
  margin-top: 10px;
  margin-right: 5px;
}
.close {
  color: rgb(185, 28, 28);
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 25px;
}
.close:hover {
  cursor: pointer;
  color: rgb(218, 16, 16);
}
.errorMessage {
  color: rgb(233, 16, 16);
}
