.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.card {
  height: 150px;
  border-radius: 5px;
  display: flex;
  width: 300px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: #22263f;
  box-shadow: 2px 8px 15px 2px rgba(21, 23, 43, 0.4);
}
.card a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}
.toggle {
  display: none;
}
.outlet {
  /* background-color: red; */
  margin-top: 12px;

  height: 100%;
  width: 100%;
}
