.container h1 {
  color: white;
}
.container span {
  color: rgb(228, 217, 217);
  font-weight: 320;
}
.shopInfo {
  background-color: rgb(22, 21, 21);
  width: 90%;
  box-shadow: 2px 2px 15px 2px rgba(22, 21, 21, 0.8);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 400px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin-bottom: 50px;
}
.shopInfo .info {
  width: 49%;
}
.shopInfo .image {
  width: 49%;
}

.shopInfo .image img {
  width: 100%;
}
