.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.cartContainer {
  margin-top: 20px;
  display: flex;
  width: 90%;
  background-color: rgb(24, 23, 23);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.8);
  padding: 10px;
  justify-content: space-between;
  color: white;
  color: black;
  font-weight: 500;
  border-radius: 5px;
}
.cartContainer img {
  height: 100px;
}
.cartContainer input {
  width: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(226, 221, 221);
  color: black;
}
.cartContainer .btn {
  background-color: goldenrod;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 25px !important;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 2px;
}
.cartContainer .btn:nth-child(1) {
  margin-right: 10px;
}
.quantity {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.remove {
  cursor: pointer;
  color: rgb(14, 13, 13);
}
.emptyMessage {
  color: white;
  background-color: black;
  margin-top: 40px;
  height: 480px;
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.8);
}
.emptyMessage .icon {
  color: goldenrod;
  font-size: 40px;
}
.emptyMessage span {
  color: rgb(121, 115, 115);
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.emptyMessage button {
  width: 200px !important;
  padding: 10px 0 !important;
  margin-left: 10px;
}

.container button{
  width: 180px !important;
  padding: 10px;
  margin-top: 20px;
}