h4 {
  color: goldenrod;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

.container {
  color: rgb(136, 128, 128);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container input {
  padding: 6px;
  border: none;
  border-radius: 5px;
  color: rgb(150, 146, 146);
}
.formSection {
  width: 600px;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  padding: 80px 40px;
  background-color: rgb(14, 13, 13);
  box-shadow: 2px 1px 35px 10px rgba(0, 0, 0, 0.4);
  /* border: 1px solid black; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.formSection input {
  background: #2b282866;
  margin: 0;
}
.formSection .names {
  width: 100%;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}
.names label {
  margin-bottom: 10px;
}
.names div {
  width: 100%;
}
.names input {
  width: 100%;
}
.username {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.username input {
  margin-top: 10px;
  width: 100%;
}
.address {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.address label {
  margin-bottom: 10px;
}
.address div {
  width: 32%;
}
.address input {
  width: 100%;
}
.payment {
  margin-top: 40px;
  align-self: flex-start;
}
.cartProducts {
  background-color: rgb(14, 13, 13);
  box-shadow: 2px 1px 35px 10px rgba(0, 0, 0, 0.4);
  /* background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
  border-radius: 5px;
  width: 350px;
  padding: 25px;
  margin-top: 40px;
  height: 100%;
}
.cartProducts form {
  display: none;
}

.product {
  width: 100%;
  color: black;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  padding: 5px 3px;
  border-radius: 2px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cancelIcon {
  font-size: 12px !important;
}
.divider {
  width: 1px;
  height: 250px;
  background-color: goldenrod;
  margin-top: 50px;
}
.checkbox {
  background-color: #ffdd00;
}
.checkoutbtn {
  width: 100% !important;
  padding: 10px 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.checkoutbtn span {
  margin-right: 10px;
}
.totalAmount {
  margin-top: 20px !important;
  font-weight: 500;
}
.totalAmount span {
  color: goldenrod;
}
.model {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.model div {
  width: 450px;
  height: 300px;
  background-color: rgb(24, 23, 23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.model div h2 {
  color: rgb(150, 146, 146);
  text-align: center;
}
.model div span {
  color: rgb(173, 131, 22);
}
.iconClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  color: rgb(112, 111, 111);
  cursor: pointer;
}

.paymentOptions {
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}
.paymentOptions div {
  background-color: #fbb034;
  height: 150px;
  /* margin-left: 15px; */
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.paymentOptions div:nth-child(2),
.paymentOptions div:nth-child(3) {
  margin-left: 15px;
}
@media screen and (max-width: 1050px) {
  .container {
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: center;
  }
  .divider {
    height: 1px;
    width: 250px;
    margin-top: 0;
  }
  .formSection {
    margin-left: 0;
  }
}
@media screen and (max-width: 630px) {
  .formSection {
    width: 90%;
  }
}
.QRsection {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.QRsection div {
  width: 40%;
  background: rgb(231, 231, 231);
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.QRsection div span {
  font-weight: 600;
  letter-spacing: 0;
  margin-top: 50px;
}
.QRsection .i {
  background: rgb(231, 231, 231);
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.QRsection div img {
  width: 35%;
  margin-top: 20px;
}
