h4 {
  color: goldenrod;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

.container {
  color: rgb(136, 128, 128);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container input {
  padding: 8 px;
}
.formSection {
  width: 600px;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  padding: 80px 40px;
  background-color: rgb(14, 13, 13);
  box-shadow: 2px 1px 35px 10px rgba(0, 0, 0, 0.4);
  /* border: 1px solid black; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.formSection input {
  background: #2b282866;
  margin: 0;
}
.formSection .names {
  width: 100%;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}
.names label {
  margin-bottom: 10px;
}
.names div {
  width: 49%;
}
.names input {
  width: 100%;
}
.username {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.username input {
  margin-top: 10px;
  width: 100%;
}
.address {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.address label {
  margin-bottom: 10px;
}
.address div {
  width: 32%;
}
.address input {
  width: 100%;
}
.payment {
  margin-top: 40px;
}
.cartProducts {
  background-color: rgb(14, 13, 13);
  box-shadow: 2px 1px 35px 10px rgba(0, 0, 0, 0.4);
  /* background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
  border-radius: 5px;
  width: 350px;
  padding: 25px;
  margin-top: 40px;
  height: 100%;
}

.product {
  width: 100%;
  color: black;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  padding: 5px 3px;
  border-radius: 2px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.divider {
  width: 1px;
  height: 250px;
  background-color: goldenrod;
}
.checkbox {
  background-color: #ffdd00;
}
.checkoutbtn {
  width: 100% !important;
  padding: 10px 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.checkoutbtn span {
  margin-right: 10px;
}
.totalAmount {
  margin-top: 20px !important;
  font-weight: 500;
}
.totalAmount span {
  color: goldenrod;
}
