.container {
  display: flex;
  justify-content: space-between;
}
.containerLeft {
  height: 100vh;
  background-color: rgb(24, 22, 22);
  width: 250px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLeft h3 {
  color: rgb(136, 99, 6);
  font-size: 20px;
  margin-right: 120px;
}

.containerLeft select {
  width: 100px;
  background-color: rgb(61, 61, 58);
  color: white;
  padding: 2 5px;
  border: none;
  margin-bottom: 20px;
  margin-right: 55px;
}
.containerLeft h2 {
  color: rgb(136, 99, 6);
  font-size: 20px;
}

.categoryLinks {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.categoryLinks a {
  text-decoration: none;
  color: rgb(138, 134, 134) !important;
  margin-top: 5px;
  width: 150px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(59, 55, 55);
  cursor: pointer;
}

.outlet {
  height: 100vh;
  width: 90%;
  margin-right: 20px;
  margin-left: -20px;
}
/* a:hover {
  color: goldenrod !important;
}
a:visited {
  color: goldenrod !important;
} */
.forwardIcon {
  display: none;
  opacity: 0;
  color: white;
  background-color: goldenrod;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 10px;
  width: 35px;
  height: 35px;
  padding: 2px;
  cursor: pointer;
  z-index: 1;
}
.backIcon {
  display: none;
  opacity: 0;
  position: absolute;
  color: white;
  background-color: goldenrod;
  border-radius: 2px;
  margin-left: 180px;
  margin-top: -5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 2px;
  z-index: 2;
}
@media screen and (max-width: 1350px) {
  .containerLeft {
    width: 250px;
  }
  .outlet {
    width: 100%;
  }
}

@media screen and (max-width: 1320px) {
  .containerLeft {
    position: absolute;
    font-size: 15px;
    z-index: 3;
    right: 100%;
    transition: right 0.5s;
  }
  .outlet {
    width: 90%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .forwardIcon {
    display: flex;
    opacity: 1;
  }
  .backIcon {
    display: flex;
    opacity: 1;
  }
}
