.home {
}
.swiper {
  width: 100%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: rgb(71, 69, 64);
}
.swiper-pagination-bullet-active {
  background-color: goldenrod;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offer-det {
  position: absolute;
  top: 23%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  animation-name: offer-det;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.offer-det h1 {
  color: white;
  font-size: 45px;
  font-weight: 650;
}
.offer-det h3:nth-child(1) {
  color: #a8741a;
}
.offer-det h3:nth-child(3) {
  color: rgb(216, 210, 210);
}
.offer-det p {
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  color: rgb(216, 210, 210);
}
.offer-det span {
  color: #a8741a;
  font-weight: 600;
}
.offer-det button {
  position: absolute;
  left: 0;
  bottom: -50px;
  padding: 12px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cat-items {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 80%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.category h1 {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 700;
  color: white;
}
.cat-items .items {
  margin-top: 25px;
}
.item1 {
  background: url("../../images/catNecklace.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 25px 2px rgba(2, 2, 2, 0.9);
}
.item2 {
  background: url("../../images/catChain.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 25px 2px rgba(2, 2, 2, 0.9);
}

.item3 {
  background: url("../../images/catRing.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 25px 2px rgba(2, 2, 2, 0.9);
}

.item4 {
  background: url("../../images/catBangles.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 25px 2px rgba(2, 2, 2, 0.9);
}

.item5 {
  background: url("../../images/catBracelet.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 25px 2px rgba(2, 2, 2, 0.9);
}

.item6 {
  background: url("../../images/catEarring.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 25px 2px rgba(2, 2, 2, 0.9);
}
.cat-image {
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 25px 2px rgba(2, 2, 2, 0.9);
  /* border: 1px solid white !important; */
}

.item-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(199, 193, 193);
  transition: background 0.5s;
}
.item-content button {
  height: 40px;
  margin: 0;
}
.item-description {
  display: none;
}

.item-description1 {
  display: none;
}

.item-description2 {
  display: none;
}

.item-description3 {
  display: none;
}

.item-description4 {
  display: none;
}

.item-description5 {
  display: none;
}

.items {
  transition: transform 0.3s;
}
.items:hover {
  transform: scale(1.03, 1.01) !important;
}
.items h2 {
  margin-bottom: 20px;
}
.item-content:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.displayContent {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-content .first-item {
  /* border: 1px solid white; */
}
@media screen and (max-width: 1170px) {
  .offer-det {
    top: 80px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1060px) {
  .offer-det {
    top: 60px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 910px) {
  .offer-det {
    top: 35px;
  }
  .swiper {
    width: 100%;
    height: 110%;
  }
}
@media screen and (max-width: 795px) {
  .offer-det {
    top: 32px;
  }
  .offer-det h1 {
    color: white;
    font-size: 30px;
    font-weight: 650;
  }
  .offer-det h3:nth-child(1) {
    font-size: 18px;
  }
  .offer-det h3:nth-child(3) {
    font-size: 18px;
  }
  .offer-det p {
    margin-top: -1px;
    font-size: 18px;
  }
  .offer-det span {
    font-size: 18px;
  }
  .offer-det button {
    padding: 12px 5px;
  }
}
@media screen and (max-width: 632px) {
  .offer-det {
    top: 30px;
  }
  .offer-det button {
    padding: 8px 5px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 600px) {
  .offer-det {
    top: 20px;
  }
  .offer-det button {
    padding: 8px 5px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 585px) {
  .offer-det h1 {
    font-size: 25px;
  }
  .offer-det h3:nth-child(1) {
    font-size: 15px;
  }
  .offer-det h3:nth-child(3) {
    font-size: 15px;
  }
  .offer-det p {
    margin-top: -1px;
    font-size: 15px;
  }
  .offer-det span {
    font-size: 15px;
  }
  .offer-det button {
    margin-bottom: 30px;
    padding: 5px;
    font-size: 12px;
    width: 100px;
  }
}

@keyframes offer-det {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
button {
  border: none;
  width: 120px !important;
  margin: auto;
  padding: 5px 0;
  border-radius: 5px;
  background: #a8741a;
  transition: background 0.3s;
}
button:hover {
  background: #c2851c;
}
